body{
    background-color: #eef9bf;
}

*{
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: center;
}

.text-box{
    width: 595px;
    height: 63px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 65.63px;
    letter-spacing: -0.4%;
    color: #75B79E;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 990px;
    height: 350px;
    margin-top: 47px;
    margin-left: 244px;
}

.card-box{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
    position: relative;
}

.card-box.flip{
    transform: rotateY(180deg);
}

.card-box img{
    position: absolute;  
} 

.card-box img:first-child{
    width: 50px;
}

.card-box img:nth-child(2){
    width: 100px;
    background-color: #A7E9AF;
}


@media (max-width: 634px){
    .text-box{
        width: 312px;
        height: 63px;
        margin-left: 12px;
        justify-content: center;
    }
    h1{
        font-size: 36px;
        line-height: 42.19px;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 47px;
        margin-left: 25px;
    }
    

}