body{
    width: 1110px;
    height: 629px;
}

*{
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    justify-content: center;
}

.text-box{
    width: 545px;
    height: 63px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 65.63px;
    letter-spacing: -0.4%;
    color: #75B79E;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 875px;
    height: 350px;
    margin-top: 47px;
    margin-left: 122px;
    background-color: red;
}

/**
.card-box{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box img{
    width: 100px;
}

.card-box{
    display: none;
}
*/

@media (max-width: 634px){
    .text-box{
        width: 312px;
        height: 63px;
        margin-left: 12px;
        justify-content: center;
    }
    h1{
        font-size: 36px;
        line-height: 42.19px;
    }

}